html {
    background-color: rgb(117, 142, 187);
}


body {
    margin: 0px;
    min-height: 100vh;
    /* Bruk hele skjermen, minst*/
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0px;
    background-color: cadetblue;
}

main {
    flex-grow: 1;
}

.flex-container-1 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    border: 1px solid black;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 300px;
}

/* Utility Classes */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}
